/* Normalize */
*::after,
*::before,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    
}

body {
    font-family:  $font-principal;
    font-size: $text-small;
    max-width: 1440px;
    position: relative;
    min-height: 100vh;
}

// ul {
//     list-style-type: none;
// }

// a {
//     text-decoration: none;
//     font-family: $font-title;
//     color: $text-color;
// }

img {
    width: 100%;
}